/* LOGO SLIDER */
@keyframes slide-logos {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.logos-container {
  position: relative;
  left: 0;
  right: 0;
  padding: 0px;
  margin: 10px 0;
  overflow: hidden;
  white-space: nowrap;
}

.logo-set {
  display: inline-block;
  animation: 32s slide-logos infinite linear;
}

.logo-set p {
  display: inline-block;
  height: 60px;
  width: auto;
  margin: 8px 16px;
}

.logo-set img {
  display: inline-block;
  height: 100%;
  width: auto;
}

.logos-container:hover .logo-set {
  animation-play-state: paused;
}
