/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw3aXp-p7K4KLjztg.woff2)
    format("woff2");
}

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Hw5aXp-p7K4KLg.woff2)
    format("woff2");
}

/* latin-ext */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WdhyyTh89ZNpQ.woff2)
    format("woff2");
}

/* latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/montserrat/v29/JTUSjIg1_i6t8kCHKm459WlhyyTh89Y.woff2)
    format("woff2");
}

/* latin-ext */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlppgwHKFkZgtmSR3NB0oRJX1C1GAtNQ9rJPf5Ku.woff2)
    format("woff2");
}

@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ9rJPfw.woff2)
    format("woff2");
}

/* latin-ext */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlp2gwHKFkZgtmSR3NB0oRJfYQhTIfFd3IhG.woff2)
    format("woff2");
}

/* latin */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlp2gwHKFkZgtmSR3NB0oRJfbwhTIfFd3A.woff2)
    format("woff2");
}

/* latin-ext */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlppgwHKFkZgtmSR3NB0oRJX1C1GAtNQ9rJPf5Ku.woff2)
    format("woff2");
}

/* latin */
@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/crimsontext/v19/wlppgwHKFkZgtmSR3NB0oRJX1C1GDNNQ9rJPfw.woff2)
    format("woff2");
}

/* latin */
@font-face {
  font-family: "Nothing You Could Do";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/nothingyoucoulddo/v19/oY1B8fbBpaP5OX3DtrRYf_Q2BPB1SnfZb3OOnVsH2pmp.woff2)
    format("woff2");
}
